<%include ../components/header.ejs%>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Share your ORCID&nbsp;iD!</h1>
            <p>
            Click the button below to share your ORCID iD and the public name listed on your ORCID record with the conference organizers. Don't have an ORCID iD? Click the button to create one now!
            </p>
            <p>
                <label>
                    <span class="label-text">Share my ORCID is free to share my name and ORCID iD on this page.</span>
                 </label>
            </p>
            <a href="<%- create_smid_authorization_uri %>" id="orcid-button"><img src="./img/orcid_scalable.svg" id="id-icon">
            </img></a>
            <!--<p><a class="btn btn-primary popup" href="<%- create_smid_authorization_uri %>">
                    <img id="orcid-id-logo" src="//orcid.org/sites/default/files/images/orcid_24x24.png" width='24' height='24' alt="ORCID logo" /> Create or connect my ORCID iD
            </a></p>-->
        </div>
        <hr />
        <h3>Debug:</h3>
        <ol>
            <li>
                Create a smid link: <br /><a href="<%- create_smid_authorization_uri %>"><%- create_smid_authorization_uri %></a>
            </li>
            <li>
                Edit smid link. Only the smid creator should have this: <br /><a href="<%- edit_smid_link %>"><%- edit_smid_link %></a>
            </li>
            <li>
                Get details json link. We should poll this json.: <br /><a href="<%- details_json_link %>"><%- details_json_link %></a>
            </li>
            <li>
                PUT (Update) form. Note I haven't test this yet.: <br /><a href="<%- put_form_link %>"><%- put_form_link %></a>
            </li>
            <li>
                Share smid link. This is the link smid creator should share: <br /><a href="<%- share_smid_link %>"><%- share_smid_link %></a>
            </li>
            <li>
                Add orcid link. This is the link the creator should share: <br /><a href="<%- add_id_authorization_uri %>"><%- add_id_authorization_uri %></a>
            </li>
        </ol>
        <hr />
        <div class="footer">
            Get the code & learn how to deploy this example locally at: <a https://github.com/ORCID/orcid-id-to-gdoc" target="_blank">github.com/ORCID/orcid-id-to-gdoc</a>
        </div>
    </div>  
<%include ../components/footer.ejs%>
